h1{
    color: #ff15ff;
    font-weight: normal;
    font-family: "Impact";
    text-align: center;
    background-color:black;
}
h2{
    color: #ff14ff;
    text-align:center;
    background-color:black;
}
h4{
    color: blanchedalmond;
}
p{
    color:yellowgreen;
}

body{
    background-image: url(../images/back1.jpg);
    background-position: right
}